<nav class="navbar">
    <div class="navbar-brand">
        <button class="sidebar-toggle"><i class="fas fa-bars"></i></button>
        <span><%= title %></span>
    </div>
    <div class="navbar-user">
        <span>Welcome, <%= user.email %></span>
        <a href="/logout" class="btn btn-sm btn-danger">Logout</a>
    </div>
</nav>


